<!DOCTYPE html>
<html>
<head>
    <title>Flood Prediction</title>
</head>
<body>
    <h2>Flood Prediction System</h2>

    <form action="/predict" method="post">
        Temperature: <input type="text" name="Temp"><br><br>

        Humidity: <input type="text" name="Humidity"><br><br>

        Cloud Cover: <input type="text" name="CloudCover"><br><br>

        Annual Rainfall: <input type="text" name="Annual"><br><br>

        Jan-Feb: <input type="text" name="JanFeb"><br><br>

        Mar-May: <input type="text" name="MarMay"><br><br>

        Jun-Sep: <input type="text" name="JunSep"><br><br>

        Oct-Dec: <input type="text" name="OctDec"><br><br>

        AvgJune: <input type="text" name="AvgJune"><br><br>

        Sub: <input type="text" name="Sub"><br><br>

        <input type="submit" value="Predict">
    </form>
</body>
</html>